@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Trocchi&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 785px;
    /* height: 100vh; */
    background-color: #efedec;
    margin: auto;
    padding: 50px;
}

h1 {
    font-family: "Trocchi", serif;
    font-weight: 400;
    font-style: normal;
}

.esquerdo p {
    font-family: "Quattrocento, serif;

}

h1,
p {
    color: #3b0a0a
}

#btVela {
    background-color: #3b0a0a;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.esquerdo {
    float: left;
}

.direito {
    float: right;
}

#btVela img {
    height: 80%;
    filter: invert(1);
}

#btVela #qt {
    background-color: #7B68EE;
    position: absolute;
    top: -3px;
    right: -5px;
    border-radius: 100%;
    color: #fff;
    padding: 0px 5px;
    font-weight: bold;
}

#produtos {
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.produto {
    background-color: white;
    text-align: center;
    width: 210px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}




.produto img{
    width: 210px;
    height: 210px;
    margin-bottom: 10px;
}

.nome{
   font-family: "Trocchi", serif;
}

.descricao, .valor{
    font-family: "Quattrocento", serif;
}

.descricao{
    font-size: small;
}

.valor{
    margin-top: 20px;
    font-weight: bold;
}