html{
    display: flex;
    justify-content: center;
}
body{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 12px rebeccapurple;
}