body{ 
    font: 100% Verdana;
    line-height: 26px;
    margin: 20px;

}
#top{ padding-top: 1px;}
h1, h2, h3, A:hover{
    color: #4CAF50;
}
li{
    background-color: #555555;
    color: white;
    cursor: pointer;
    list-style-type: none;
    float: left;
    margin: 4px;
    width: 165px;
    text-align: center;
    padding: 2px;
 }
ul{
    overflow: auto;
    padding: 0;
}
li:nth-child(3){ 
    background-color: #04AA6D;
}
li:hover{ 
    background-color: black;
}
#sidebar{
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding-left: 10px;
    
 }
#bottom{ 
    padding-left: 10px;
    
}
#bottom p{ 
    font-size: 70%;
    line-height: 14px;
    text-align: center;
}
a{
 color: black;

 }
 
 A:hover{
    color: #4CAF50;
 }
